@font-face {
    font-family: 'iconfont';  /* project id 1550025 */
    src: url('//at.alicdn.com/t/font_1550025_urdschd0wfl.eot');
    src: url('//at.alicdn.com/t/font_1550025_urdschd0wfl.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1550025_urdschd0wfl.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1550025_urdschd0wfl.woff') format('woff'),
    url('//at.alicdn.com/t/font_1550025_urdschd0wfl.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1550025_urdschd0wfl.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:25px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}